html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* BUSINESS PAGE CSS  */
.business-logo {
  display: block;
  width: 100px;
}
.business-logo img {
  width: 100%;
  object-fit: contain;
}

.inputFieldArray {
  display: block;
  max-width: 100%;
  margin: 10px 0;
  padding: 12px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #d8d8dd;
  outline: none;
  font-family: 'Inter';
  font-size: 16px;
}
.addIconFieldArray {
  display: block;
  text-align: center;
  width: 300px;
}

.mainFieldArray {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}
.logo_culturefy{
  margin: 20px 0;
}


/* SURVEY BUILDER CSS  */
/* body .svc-creator {
  --primary-color: #7ff07f;
  --secondary-color: #1ab394;
  --primary-text-color: #4a4a4a;
  --secondary-text-color: #a7a7a7;
  --inverted-text-color: #ffffff;
  --primary-hover-color: #6fe06f;
  --selection-border-color: #1ab394;
  --primary-icon-color: #3d4d5d;
  --primary-bg-color: #f8f8f8;
  --secondary-bg-color: #f4f4f4;
  --primary-border-color: #e7eaec;
  --secondary-border-color: #ddd;
  --error-color: #ed5565;
}
body .svc-creator {
  --primary: #1ab7fa;
  --primary-light: rgba(26, 183, 250, 0.1);
  --foreground: #ededed;
  --primary-foreground: #ffffff;
  --secondary: #1ab7fa;
  --background: #555555;
  --background-dim: #4d4d4d;
  --background-dim-light: #4d4d4d;
} */


/* body .svc-creator {
  --primary-color: #fff;
  --secondary-color: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: #fff;
  --inverted-text-color: #ffffff;
  --primary-hover-color: #fff;
  --selection-border-color: #fff;
  --primary-icon-color: #fff;
  --primary-bg-color: #f8f8f8;
  --secondary-bg-color: #f4f4f4;
  --primary-border-color: #e7eaec;
  --secondary-border-color: #ddd;
  --error-color: #ed5565;
}
body .svc-creator{
  --primary: #fff;
  --primary-light: rgba(26, 183, 250, 0.1);
  --foreground: #ededed;
  --primary-foreground: #ffffff;
  --secondary: #1ab7fa;
  --background: #282A42;
  --background-dim: #282A42;
  --background-dim-light: #282A42;
} */


body .svc-creator {
  --primary-color: #2394ae;
  --secondary-color: #bf161f;
  --primary-text-color: #2394ae;
  --secondary-text-color: #2394ae;
  --inverted-text-color: #ffffff;
  --primary-hover-color: #bf161f;
  --selection-border-color: #bf161f;
  --primary-icon-color: #2394ae;
  --primary-bg-color: #f8f8f8;
  --secondary-bg-color: #f4f4f4;
  --primary-border-color: #e7eaec;
  --secondary-border-color: #fff;
  --error-color: #bf161f;
}
body .svc-creator {
  /* --primary: #1ab7fa; */
  --primary: #2394ae;
  /* --primary-light: rgba(26, 183, 250, 0.1); */
  --primary-light: #282A42;
  --foreground: #fff;
  --primary-foreground: #ffffff;
  /* --secondary: #1ab7fa; */
  --secondary: #bf161f;
  --background: #282A42;
  --background-dim: #282A42;
  /* --background-dim-light: #282A42; */
  --background-dim-light: #9b9cb226;
}